@import './style.css';

.banner {
    width: 100%;
    height: 400px;
    background: #e0e0e0;
    background-position: center;
    background-size: cover;
}
.published-date {
    font-size: small;
    font-weight: lighter;
    color: #9e9e9e;
}
.blog-artitle img {
    display: block;
    margin: 10px auto;
    max-height: 400px;
}
.editBtn{
    display: none !important;
}
.edit {
    display: inline !important;
}